<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   
   <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name="prefix">
          <value>/WEB-INF/jsp/</value>
      </property>
      <property name="suffix">
          <value>.jsp</value>
      </property>
   </bean>
   <!-- 隐式的向spring中注入 -->
   <context:annotation-config/>
   <context:component-scan base-package="com.lanyuan.controller"/>
   
   
   <!-- AnnotationMethodHandlerAdapter将会初始化7个转换器， 可以通过调用
         AnnotationMethodHandlerAdapter的getMessageConverts()
                          方法来获取转换器的一个集合 List<HttpMessageConverter> 
                          引用
         ByteArrayHttpMessageConverter 
         StringHttpMessageConverter 
         ResourceHttpMessageConverter 
         SourceHttpMessageConverter 
         XmlAwareFormHttpMessageConverter 
         Jaxb2RootElementHttpMessageConverter 
         MappingJacksonHttpMessageConverter -->
         
     <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" >
     	<property name="messageConverters">
	       <list>  
			  <ref bean="mappingJacksonHttpMessageConverter"/>
		   </list>
	    </property>
     </bean>
         
   <bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
      <property name="supportedMediaTypes">
        <list>
           <value>text/html;charset = UTF-8</value>
        </list>
      </property>
   </bean>

</beans>